Portal/WebParts/Integration/IntegrationParts/Service References/WebParts.Integration.WebServices/DataSync1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataSync" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://someorg.org/Content/Parts/Registration/DataSync.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://someorg.org/Content/Parts/Registration/DataSync.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://someorg.org/Content/Parts/Registration/DataSync.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCMS.WebSystem.Apps.Integration" />
      <xsd:import schemaLocation="http://someorg.org/Content/Parts/Registration/DataSync.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCMS.WebSystem.Apps.Integration" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataSync_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IDataSync_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IDataSync_GetMemberLinkList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberLinkList" />
  </wsdl:message>
  <wsdl:message name="IDataSync_GetMemberLinkList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberLinkListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataSync_GetMemberLinkComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberLinkComplete" />
  </wsdl:message>
  <wsdl:message name="IDataSync_GetMemberLinkComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberLinkCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataSync_SetMemberLinkComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMemberLinkComplete" />
  </wsdl:message>
  <wsdl:message name="IDataSync_SetMemberLinkComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMemberLinkCompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataSync">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSync/DoWork" message="tns:IDataSync_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSync/DoWorkResponse" message="tns:IDataSync_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberLinkList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSync/GetMemberLinkList" message="tns:IDataSync_GetMemberLinkList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSync/GetMemberLinkListResponse" message="tns:IDataSync_GetMemberLinkList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberLinkComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSync/GetMemberLinkComplete" message="tns:IDataSync_GetMemberLinkComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSync/GetMemberLinkCompleteResponse" message="tns:IDataSync_GetMemberLinkComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMemberLinkComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSync/SetMemberLinkComplete" message="tns:IDataSync_SetMemberLinkComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSync/SetMemberLinkCompleteResponse" message="tns:IDataSync_SetMemberLinkComplete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataSync" type="tns:IDataSync">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IDataSync/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberLinkList">
      <soap:operation soapAction="http://tempuri.org/IDataSync/GetMemberLinkList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberLinkComplete">
      <soap:operation soapAction="http://tempuri.org/IDataSync/GetMemberLinkComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMemberLinkComplete">
      <soap:operation soapAction="http://tempuri.org/IDataSync/SetMemberLinkComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataSync">
    <wsdl:port name="BasicHttpBinding_IDataSync" binding="tns:BasicHttpBinding_IDataSync">
      <soap:address location="http://someorg.org/Content/Parts/Registration/DataSync.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>